@import "variables";
@import "mixins";
@import "reboot";
@import "images";
//@import "links";

body {
	font-size: 22px;
	line-height: 1.4;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

.logo-img {
	height: 40px;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
	
}

@media only screen and (min-width: 1200px) {
	
}