/*
Linear gradient, use it like:
@include linear-gradient(45deg, rgb(68,133,225) 0%, rgb(58,165,238) 100% );
or
@include linear-gradient(-180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100% );
 */
/*
Animation mixin, use it with keyframes mixin, like:
@include animation(neonGlow, 5s);
 */
/*
keyframes mixin, use it like:
@include keyframes(neonGlow) {
    0% {
        background-color: #ffccf2;
    }
    50% {
        background-color: #ccffcc;
    }
    100% {
        background-color: #ccffff;
    }
}
*/
/*
Linear gradient, use it like:
@include linear-gradient(45deg, rgb(68,133,225) 0%, rgb(58,165,238) 100% );
or
@include linear-gradient(-180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100% );
 */
/*
Animation mixin, use it with keyframes mixin, like:
@include animation(neonGlow, 5s);
 */
/*
keyframes mixin, use it like:
@include keyframes(neonGlow) {
    0% {
        background-color: #ffccf2;
    }
    50% {
        background-color: #ccffcc;
    }
    100% {
        background-color: #ccffff;
    }
}
*/
.logo-img {
  height: 40px; }
